
.inventoryListNav {
    height: 100px;
    background: #ab2a19;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inventoryListNav img {
    width: 50px;
}

.inventoryShelfNav {
    width: 20%;
    height: 100px;
    background: #d34735;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.inventoryBinNav {
    width: 68%;
    height: 100px;
    background: #ed6b5a;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.itemContainer {
    display: flex; 
    margin-top: 20px;
}

.itemImage {
    margin-left: 6%;
}

.itemImage img {
    width: 300px;
    height: 200px;
    background-size: cover;
}

.itemInformationContainer {
    margin-left: 3%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}


.itemInformationContainer h3 {
    margin-left: 10px;
    font-weight: bold;
}

.itemInformationContainer input {
    border: 1px solid #ffb8af;
    border-radius: 3px;
    padding: 12px;
    min-width: 500px;
    width: auto;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.itemInformationContainer input::placeholder {
    color: black;
}

.itemInformationContainer input:focus {
    border: 3px solid #ab2a19;
    outline: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer button {
    background: #d8d8d8;
    height: 60px;
    width: 200px;
    border-radius: 3px;
    font-size: 30px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#saveButton {
    background: #40f99b;
    border-radius: 50px;
}